@font-face {
  font-family: 'Poppins Light';
  src: url('../../../public/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../../../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.logo {
  transform: scale(0.25); 
}

.logo-container {
  top: -10px;
  left: 0px;
  width: 100vw;
  height: 30vh;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/* Container for the entire form */
.form_container {
  display: flex;
  align-items: flex-start;
  background-color: #FF8900;
  height: 70vh;
  width: 100vw;
}