.navbar-logo {
    width: 40%;
    height: 40%;
    margin-left: 10%;
    transform: scale(0.8);
}

.sayHello {
    display: flex;
    flex-direction: row;
}

.navbar-left {
    flex: 1;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.navbar-center a {
    margin: 0 20px; /* Adjust spacing between links as needed */
    text-decoration: none;
    color: white; /* Change link color as needed */
  }

.navbar-right {
    flex: 1;
    text-align: right;
    margin-left: 4%;
}