.add-like__button,
.add-dislike__button {
  top: 210px;
  left: 162px;
  width: 30.5px; /* Zmniejszony o połowę */
  height: 30.5px; /* Zmniejszony o połowę */
  background: #C198F0; /* Kolor tła pozostaje taki sam */
  opacity: 1;
  border: none; /* Usunięcie obramowania */
  border-radius: 50%; /* Zaokrąglenie */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; /* Powiększona wielkość czcionki o połowę */
  color: #ffffff; /* Biały tekst */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s, filter 0.2s;

}

.add-like__button:hover,
.add-dislike__button:hover {
  transform: scale(1.1); /* Powiększenie o 10% */
  opacity: 0.8; /* Przyciemnienie */
  filter: brightness(90%); /* Przyciemnienie kolorów */
}